<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="mb-4">Subjects</h1>
<div class="row">
    {% for subject in subjects %}
    <div class="col-md-4">
        <div class="card mb-4">
            <!-- Subject card displaying the subject name -->
            <div class="card-body">
                <h5 class="card-title">{{ subject.subject }}</h5>
                <a href="{{ url_for('subject_page', subject_name=subject.subject) }}" class="btn btn-primary">View Topics</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}